modules = ["python-3.12"]
run = "python sv.py"

[nix]
channel = "stable-25_05"
packages = ["openssl"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Telegram Forwarder"

[[workflows.workflow]]
name = "Telegram Forwarder"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python sv.py"

[workflows.workflow.metadata]
outputType = "console"

[userenv]

[userenv.shared]
BATCH_SIZE = "1000"
DELAY = "5"
PAUSE_HOURS = "1"
DESTINATION_CHANNEL = "-1003867705863"
SOURCE_CHANNEL = "-1003567650389"

[[ports]]
localPort = 8000
externalPort = 80
